/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.p {
  &-1 {
    padding: 10px;
  }
  &-2 {
    padding: 20px;
  }
}

.m {
  &-1 {
    margin: 10px;
  }
  &-2 {
    margin: 20px;
  }
  &t {
    margin-top: 10px;
  }
}

.block {
  display: block !important;
}

.flex {
  display: flex !important;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
